<!-- extend base layout -->
{% extends "superset/base.html" %}

{% block content %}

<div class="container">
    <div id="loginbox"
         style="margin-top:50px;"
         class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Data Source Configurations</div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <ul>
                    {% for ds in data_source_configs %}
                    <li>{{ ds }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}