{#
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
#}

{#
  This file may be overriden in your custom deployment.
  It will be included in every view in superset and is a
  good place to include your custom frontend code, such as
  scripts to initialize google analytics, intercom, segment, etc.
#}

<script nonce="{{ csp_nonce() }}">
    {% if g.hq_domain %}
        window.onload = function() {
            var element = `
                <a href="/domain/list" class="navbar-brand"><img src="/static/images/commcare-hq-logo.png" style="max-width:100% ; max-height:100% ;"></a>
                <a href="/domain/list" class="navbar-brand" title="Click to select a different domain">{{g.hq_domain}}</a>
            `;
            $($(".navbar-brand")[0]).after(element);
        };
    {% endif %}
    var updateHQDatasources = function() {
        if (window.location.pathname !== "/tablemodelview/list/") {
            return;
        }

        $.get("/hq_datasource/list/", function(result) {
            $(".dataset-list-view").before(result);
        },'html').fail(function(jqXHR) {
            if (jqXHR.status == 403) {
                // User doesn't have permissions to list datasources on HQ
                return;
            }
            if (jqXHR.status == 400) {
                var msg = jqXHR.responseText;
            }
            else {
                // Possible that the Oauth has expired.
                var msg = 'There was an error communicating with CommCareHQ. You may have to <a href="/logout/">log out</a> and log in in again';
            }
            var element = '<div class="alert alert-danger">' +
                          '<button type="button" class="close" data-dismiss="alert">×</button>' +
                          msg +
                          '</div>';
            $("header").after(element);
        });
    };
    (function(){
        var original = history.replaceState;
        history.replaceState = function(){
            original.apply(history, arguments); // preserve normal functionality
            updateHQDatasources();
        };
    }());
</script>
